<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    {% block content %}
    <div class="title"><h2>Product list</h2></div>
    <div class="list">
        {% for product in objects %}
        <div class="product_card">
            <h3>{{ product.title }}</h3><br>
            {{ product.description }}<br>
            {{ product.price }}<br>
            <a href="{% url 'product_order' product.pk %}">Купить</a>
        </div>
        {% endfor %}
    {% endblock %}
    </div>
</body>
</html>